@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
body {
  margin: 0;
}

.air-logo{
  display: flex;
  align-items: center;
  padding: 2em 1.5em;
  
  box-shadow: 0px 5px 10px   rgba(0, 0, 0, 0.1);
}
section{
  margin: 1em 0em;
}
.Hero{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.Hero-h1{
  margin-top: 0;
  margin-left: -16em;
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  margin-bottom: 0;
}

.Hero-p{
  margin-top: 0;
  margin-left: -18em;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

.container{
  margin-bottom: 0;
  margin-left: 4.5em;
  font-family: 'Poppins', sans-serif;
}




.caption{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-top: -10px;

  
}

.card--star{
  height: 14px;
  margin-top: -4px;
  margin-right: 6px;
}
.caption-color{
  color: #918E9B;
  margin-left: 2px;
}
.paraphrase{
  margin-top: -25px;
  font-family: 'Poppins', sans-serif;
  color: #222222;
  
}
.paraphrase2{
  margin-top: -10px;
  font-family: 'Poppins', sans-serif;
  color: #222222;
  
}
.card-img{
  max-width: 15%;
}